.court {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.court .courtTitle {
  font-family: cursive;
  font-size: 60px;
  padding-top: 4rem;
}

.courtList {
  height: auto;
  display: contents;
  width: 80vw;
}

/* MENU ITEM STYLING */

.courtItem {
  border-radius: 30px;
  
  height: max-content;
  margin: 20px 20px 0px 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.courtItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.courtItem div {
  width: 100%;
  height: 190px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.courtImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.courtItem h1,
.courtItem p {
  margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
  .courtList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .courtList {
    grid-template-columns: 1fr;
  }
}

.courtInfo {
  background-color: whitesmoke;
  height: max-content;
  padding-top: 30px;
}

.link-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  color: gray;
}

.addTimeslotBtn{

  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  background-color: rgba(255, 255, 0, 0.726);
  color: rgb(4, 73, 4);
  font-weight: bold;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.form{
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.courtItemBtn{
  width: 80vw;
}

.form{
  display: grid;
}
.text-muted{
  margin-top: 20px;
  font-size: 20px;
}

.text-muted p{
color: rgb(158, 11, 11);
}