.home-card {
    width: 50%;
    height: 100%;
    margin-top: 80px;
}

.profile-photo-edit {
    height: 40%;
    width: 100%;
}

.profile-photo {
    height: 80%;
    width: 100%;
}

.informations {
    text-align: left;
}

.button-edit {
    border:  2px solid gray;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 70%;
}

.button-save {
    border:  2px solid gray;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: rgb(97, 235, 92);
    font-weight: bold;
    width: 70%;
}

.button-profile {
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.label-inf {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-info-link{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: rgb(92, 30, 13);
}

.back-button-div{
    width: 90%;
    text-align: right;
}

.cursor{
    cursor: pointer;
}